{% load static %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container" style="height: 480px;">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" required minlength="3" maxlength="10" name="username" placeholder="Username">
                        <input type="email" required name="email" placeholder="Email">
                        <input type="password" required minlength="6" name="password" placeholder="Password">
                        <input type="text" required minlength="5" name="address" placeholder="Address">
                        <input type="text" required minlength="5" name="phone" placeholder="Phone">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="{{message.tags}}">{{message}}</p>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>